@tailwind base;
@tailwind components;
@tailwind utilities;

/* Load Achiko Custom Font */
@font-face {
  font-family: "Achiko";
  /* CHANGE THE URL AND FORMAT BELOW IF YOUR FILE IS .ttf OR .woff2 */
  src: url("/fonts/Achiko.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Custom Utility Class for the font */
.font-achiko {
  font-family: "Achiko", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
