@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-switzer), sans-serif;
}

.font-achiko {
  font-family: var(--font-achiko), sans-serif;
}
